<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MealPostMapper">
	<select id="selectAll" resultType="MealPost">
		SELECT
		meal_post.id, meal_post.name,meal_post.age,
		meal_post.address, meal_post.created,
		meal_post_types.name AS type_name
		FROM meal_post
		JOIN meal_post_types
		ON meal_post.type_id = meal_post_types.id
	</select>
	<select id="selectById" parameterType="int" resultType="MealPost">
		SELECT
		meal_post.id, meal_post.name,meal_post.age,
		meal_post.address, meal_post.created,
		meal_post.type_id
		FROM meal_post
		WHERE meal_post.id = #{id}
	</select>
	<insert id="insert" parameterType="MealPost">
		INSERT INTO meal_post (name, age, address, type_id, created)
		VALUES (#{name}, #{age}, #{address}, #{typeId}, NOW())
	</insert>
	<update id="update" parameterType="MealPost">
		UPDATE meal_post
		SET name = #{name}, age = #{age},
		address = #{address}, type_id = #{typeId}
		WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM meal_post WHERE id = #{id}
	</delete>
</mapper>
