<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">

	<!-- 全件取得 -->
	<select id="selectUsers" resultType="User">
		SELECT *
		FROM users
		WHERE deleted = FALSE
		ORDER BY id
	</select>

	<!-- ID指定で取得 -->
	<select id="selectById" parameterType="int" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>

	<!-- ユーザー追加 -->
	<insert id="addUser" parameterType="User">
		INSERT INTO users (
		name, age, address, type_id,
		sex, height_cm, weight_kg, goal_weight_kg,
		bmi, bmr, activity_level, bio, deleted, created
		) VALUES (
		#{name}, #{age}, #{address}, #{typeId},
		#{sex}, #{heightCm}, #{weightKg}, #{goalWeightKg},
		#{bmi}, #{bmr}, #{activityLevel}, #{bio}, FALSE, NOW()
		)
	</insert>

	<!-- ユーザー更新 -->
	<update id="updateUser" parameterType="User">
		UPDATE users
		SET
		name = #{name},
		age = #{age},
		address = #{address},
		type_id = #{typeId},
		sex = #{sex},
		height_cm = #{heightCm},
		weight_kg = #{weightKg},
		goal_weight_kg = #{goalWeightKg},
		bmi = #{bmi},
		bmr = #{bmr},
		activity_level = #{activityLevel},
		bio = #{bio}
		WHERE id = #{id}
	</update>

	<!-- 論理削除 -->
	<update id="deleteUser" parameterType="int">
		UPDATE users
		SET deleted = TRUE
		WHERE id = #{id}
	</update>

</mapper>